#field { 
  width: 900px; 
  height: 600px; 
  position: relative; 
  background: #007d90; 
}

#rect { 
  width: 77px; 
  height: 77px; 
  position: absolute; 
  background-color: black; 
}


















